body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color:burlywood;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: burlywood;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    background-color: pink; 
    color: white;
    font-size: 3rem;
    font-weight: bold; 
    cursor: pointer;
}
button:hover{
    background-color: hotpink;
}
button:active{
    background-color: palevioletred;
}

.operator-btn{
    background-color: plum;
}

.operator-btn:hover{
    background-color: palevioletred;
}

.operator-btn:active{
    background-color: purple;
}
